{% extends "common/layout_main.html" %}
{% block content %}
{% include "common/tab_option.html" %}
<div class="row m-t  wrap_option_set">
	<div class="col-lg-12">
		<h2 class="text-center">设备设置</h2>
		<div class="hr-line-dashed"></div>
		<div class="form-horizontal m-t m-b">
			<div class="form-group">
				<label class="col-lg-2 control-label">设备名称:</label>
				<div class="col-lg-10">
					<input type="text" name="name" class="form-control" placeholder="请输入设备名称~~" value="{{info.name}}">
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			 <div class="form-group">
                <label class="col-lg-2 control-label">设备类型:</label>
                <div class="col-lg-10">
                    <select name="option_type" class="form-control select2-hidden-accessible" tabindex="-1"
                            aria-hidden="true">
                        <option value="0">请选择设备类型</option>
                        {%for item in option_type_list%}
                        <option value="{{item.id}}"{%if item.id == info.option_type %} selected {%endif%}}>{{item.name}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
			<div class="hr-line-dashed"></div>
			<div class="form-group">
                <label class="col-lg-2 control-label">餐厅:</label>
                <div class="col-lg-10">
                    <select name="hall_id" class="form-control select2-hidden-accessible" tabindex="-1"
                            aria-hidden="true">
                        <option value="0">请选择餐厅</option>
                        {%for item in hall_list%}
                        <option value="{{item.id}}"{%if item.id == info.hall_id %} selected {%endif%}}>{{item.name}}</option>
                        {%endfor%}

                    </select>
                </div>
            </div>
			<div class="hr-line-dashed"></div>
			<div class="form-group">
				<label class="col-lg-2 control-label">设备编号:</label>
				<div class="col-lg-10">
					<input type="text" name="option_id" class="form-control" placeholder="请输入分类名称~~" value="{{info.option_id}}">
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="form-group">
				<label class="col-lg-2 control-label">备注:</label>
				<div class="col-lg-10">
					<input type="text" name="note" class="form-control" placeholder="请输入备注~~" value="{{info.note}}">
				</div>

			</div>
			<div class="hr-line-dashed"></div>
			<div class="form-group">
				<div class="col-lg-4 col-lg-offset-2">
					<input type = "hidden" name="id" value="{{info.id}}">
					<button class="btn btn-w-m btn-outline btn-primary save">保存</button>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
{% block js %}
<script src="{{ buildStaticUrl('/js/option/set.js') }}"></script>
<script src="{{ buildStaticUrl( '/plugins/select2/select2.pinyin.js' ) }}"></script>
<script src="{{ buildStaticUrl( '/plugins/select2/zh-CN.js' ) }}"></script>
<script src="{{ buildStaticUrl( '/plugins/select2/pinyin.core.js' ) }}"></script>
{% endblock %}
