<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li {% if current =="option" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/option/index') }}">设备列表</a>
                </li>
                <li {% if current =="cabint" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/cabint/index') }}">柜子列表</a>
                </li>
            </ul>
        </div>
    </div>
</div>